@charset "utf-8";

h3 {max-width: 1280px; margin: 0 auto;   display: block;  margin-bottom: 57px; font-size: 32px; font-weight: 500; letter-spacing: -1px; color: #0b1a2e;}
.skill_list li .title{ display: flex; align-items: center; flex-direction: column;}
.skill_list li .title span{ display: block; padding-top: 6px; font-size: 25px; font-weight: 400;}
.summary { display: block; margin-bottom:5px; padding: 24px; word-break: keep-all;  border-radius: 10px; line-height: 1.3; font-weight: 400; font-size: 14px;}
.num_portfolio {margin-right: 3px; color: #2e70d0; font-size: 40px; font-weight: 400;}

@media screen and (max-width:1200px) {
  h3{width: 95%; margin-bottom: 1rem; font-size: 28px;}
  .num_portfolio {font-size: 30px;}
}
@media screen and (max-width: 768px) {
	h3 {width: 90%; font-size: 25px;}
  .num_portfolio {font-size: 27px;}
}

/* title number */
.inner ol li:nth-child(2) .num_portfolio{color: #706eac;}
.inner ol li:nth-child(3) .num_portfolio{color:#11a658;}
.inner ol li:nth-child(4) .num_portfolio{color: #489fa7;}
.inner ol li:nth-child(5) .num_portfolio{color: #e0857d;}

/* list background color */
.inner ol li:nth-child(1) .portfolio_cont .summary{background: rgb(174 200 226 / 30%);}
.inner ol li:nth-child(2) .portfolio_cont .summary{background: rgb(112 110 172 / 12%);}
.inner ol li:nth-child(3) .portfolio_cont .summary{background: rgb(214 241 225 / 40%);}
.inner ol li:nth-child(4) .portfolio_cont .summary{background: rgb(141 201 207 / 41%);}
.inner ol li:nth-child(5) .portfolio_cont .summary{background: rgb(239 184 179 / 13%);}

.summary .title{display: flex; align-items: center; margin-bottom: 8px;}
.summary .title h3{display: inline-block; margin-bottom: -6px; margin-left: 4px; font-size: 16px;}
.summary>span{display: block;}
.summary>span>strong{display: inline-block;}
.summary-list p+p{    margin-top: 6px;}
.portfolio .portfolio_list p{color: hsla(0, 0%, 0%, 0.733);}
.portfolio .portfolio_list p strong{color: hsla(0, 0%, 0%, 0.89);}
.portfolio .portfolio_list .point li+li{margin: 0; padding-top: 0; background: transparent;}
.portfolio .portfolio_list li:nth-child(3) .point li{background-color: transparent;}
.portfolio .portfolio_list li:nth-child(1) .point li{background-color: transparent;}
@media screen and (max-width:768px) {	
	.skill_list li .title{justify-content: center;flex-direction: row;}
	.skill_list li .title span{font-size: 18px; padding-top: 0;margin-left: 2px;} 
	.summary{margin: 7px 0 19px 0;}
}
.btn_area .btn_goto {font-size: 14px; display: inline-block; width: 115px; text-align: center; padding: 10px 0; border-radius: 25px; background-color: #2e70d0; color: #fff; letter-spacing: 1px;}
.btn_area .btn_goto {display: inline-block;width: 98px; text-align: center; padding: 10px 0; border-radius: 25px; letter-spacing: 1px; position: relative; background: #ffffff; overflow: hidden; z-index: 1; font-size: 15px; transition: all 0.3s ease; color: rgba(0, 0, 0, 0.9);}
.btn_area .btn_goto:hover {color: #fff; font-weight: 500;}
.btn_area .btn_goto:before {content: ''; position: absolute; top: 0; left: -100%; width: 100%; height: 100%; background: #22247a; /* 더 밝은 파란색 */ transition: all 0.7s ease; z-index: -1;}
.btn_area .btn_goto:hover:before {left: 0;}

@media screen and (max-width:768px) {
	.btn_area .btn_goto:before{display: none;}
	.btn_area .btn_goto:hover {font-weight: inherit;}
}