@charset "utf-8";

/* font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap&subset=korean');

/*reset*/
body {
	font: normal 18px 'Roboto', 'Noto Sans KR'; 
	font-weight: 400;
	line-height: 1;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0;
}
* {box-sizing: border-box;}
b, strong {font-weight: 700;}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin: 0;
	padding: 0;
}
table {width: 100%; border-collapse: collapse;}
ul, ol {list-style:	none;}
a {color: #333; text-decoration: none;}
img {vertical-align: top;}
em {font-style: normal;}
i {font-style: normal; }
address {font-style: normal;}
button {outline: 0;}

.lucide-icon{color: #747474; position: absolute; right: 20px; width: 20px; height: 20px;}

/* common */
.skills .inner{max-width: 1380px;margin: 0 auto;}
.inner {position: relative; overflow: hidden; }
h2 {position: relative; padding: 60px 0; font-size: 40px; font-weight: 300; letter-spacing: -3px;}
h2::after {position: absolute;     width: 87%; top: 50%; left: 235px; right: 0; content: ''; height: 2px; background-color: #a69eb0; transform: translateY(-50%);}
h3 {font-size: 32px; font-weight: 500; letter-spacing: -1px; color: #0b1a2e;}
@media screen and (max-width: 1024px) {
	h2 {padding: 40px 0; position:inherit;}
  h2::after{width: 0;}
}

@media screen and (max-width: 768px) {
	h2 {font-size: 24px; width: 80%; margin: 0 auto; letter-spacing: 0px;}
	h3 {font-size: 18px;}
}

.num_portfolio {margin-right: 3px; color: #2e70d0; font-size: 40px; font-weight: 400;}
.summary {line-height: 1.3; margin: 7px 0 40px 0; font-size: 14px; font-weight: 400; word-break: keep-all;}
.portfolio .portfolio_list .point li+li{margin-top: 14px;}
.portfolio .portfolio_list li:nth-child(3) .point li{background-color: transparent;}
.portfolio .portfolio_list li:nth-child(1) .point li{background-color: transparent;}
.point > li > span {position: relative; line-height: 1.3; padding-left: 20px; font-size: 14px; word-break: keep-all;}
.point > li > span::before {position: absolute; top: 6px; left: 0; content: ''; width: 6px; height: 6px; border-radius: 100%; background-color: #a69eb0;}

@media screen and (max-width:1024px) {
  .portfolio .portfolio_list .point li{text-align: left;}
}
.btn_area {margin: 36px 0; text-align: left;}
.btn_area .btn_goto {font-size: 15px; display: inline-block; width: 115px; text-align: center; padding: 10px 0; border-radius: 25px; background-color: #2e70d0; color: #fff; letter-spacing: 1px;}
.btn_area .btn_goto:hover {background-color: #766d81;}
.file_link {font-size: 15px;}
.file_link th {padding: 17px 11px; border-bottom: 1px solid #e0e0e0; background-color: #0b1a2e; color: #fff; font-size: 14px; font-weight: 500;}
.file_link th#col1 {width: 50%; padding-left: 25px;}
.file_link td {padding: 11px; text-align: center; border-bottom: 1px solid #e0e0e0;}
.file_link td .category {padding: 5px 17px; margin-left: 14px; border-radius: 4px; color: #fff; font-size: 12px; letter-spacing: 0.5px;}
.file_link td .category.html {background-color: #2207a0;}
.file_link td .category.css {background-color: #00bfdd;}
.file_link td .category.js {padding: 2px 7px; background-color: #ffca28;}
.file_link td a {font-size: 15px; display: inline-block; position: relative; color: #0d0d0d;}
.file_link td a::after{content: ""; clear: both; position: absolute; bottom: -3px; left: 0; width: 100%; background-color: rgb(200 200 200 / 66%); height: 2px;}
.file_link td a:hover {color: #766d81;}
.hidden_text {position: absolute; display: inline-block; text-indent: -9999px;}

/* footer */
footer {position: fixed; bottom: 0; left: 0; right: 0; padding:20px 0 50px; background-color: #f0f0f0; text-align: center;}
footer h2 {padding: 30px 0; font-size: 33px; letter-spacing: -1px;}
footer h2::after {display: none;}
.contact_list > li i {margin-right: 7px;}
.contact_list > li + li {margin-top: 15px;}

@media screen and (max-width:1200px) {
	footer{position: sticky;}
}