
/* font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap&subset=korean');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font: normal 18px 'Roboto', 'Noto Sans KR'; 
    font-family: 'Pretendard-Regular','Noto Sans KR';
	font-weight: 400;
	line-height: 1;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

h1,h1
* {box-sizing: border-box;}
b, strong {font-weight: 700;}
h1, h2, h3, h4, h5, h6 {font-size:1em; font-size: 10px; font-family:'GmarketSansMedium';}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin: 0;
	padding: 0;
}
table {width: 100%; border-collapse: collapse;}
ul, ol {list-style:	none;}
a {color: #333; text-decoration: none;}
img {vertical-align: top;}
em {font-style: normal;}
i {font-style: normal; }
address {font-style: normal;}
button {outline: 0;}

html, body {height: 100%;}