/* font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap&subset=korean');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font: normal 18px 'Roboto', 'Noto Sans KR'; 
    font-family: 'Pretendard-Regular','Noto Sans KR';
	font-weight: 400;
	line-height: 1;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

h1,h1
* {box-sizing: border-box;}
b, strong {font-weight: 700;}
h1, h2, h3, h4, h5, h6 {font-size:1em; font-size: 10px; font-family:'GmarketSansMedium';}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin: 0;
	padding: 0;
}
table {width: 100%; border-collapse: collapse;}
ul, ol {list-style:	none;}
a {color: #333; text-decoration: none;}
img {vertical-align: top;}
em {font-style: normal;}
i {font-style: normal; }
address {font-style: normal;}
button {outline: 0;}

html, body {height: 100%;}

main {position: relative; overflow: hidden;}

h3 {max-width: 1280px; margin: 0 auto;   display: block;  margin-bottom: 57px; font-size: 32px; font-weight: 500; letter-spacing: -1px; color: #0b1a2e;}
.skill_list li .title{ display: flex; align-items: center; flex-direction: column;}
.skill_list li .title span{ display: block; padding-top: 6px; font-size: 25px; font-weight: 400;}
.summary { display: block; margin-bottom:5px; padding: 24px; word-break: keep-all;  border-radius: 10px; line-height: 1.3; font-weight: 400; font-size: 14px;}
.num_portfolio {margin-right: 3px; color: #2e70d0; font-size: 40px; font-weight: 400;}

@media screen and (max-width:1200px) {
  h3{width: 95%; margin-bottom: 1rem; font-size: 28px;}
  .num_portfolio {font-size: 30px;}
}
@media screen and (max-width: 768px) {
	h3 {width: 90%; font-size: 25px;}
  .num_portfolio {font-size: 27px;}
}

/* title number */
.inner ol li:nth-child(2) .num_portfolio{color: #706eac;}
.inner ol li:nth-child(3) .num_portfolio{color:#11a658;}
.inner ol li:nth-child(4) .num_portfolio{color: #489fa7;}
.inner ol li:nth-child(5) .num_portfolio{color: #e0857d;}

/* list background color */
.inner ol li:nth-child(1) .portfolio_cont .summary{background: rgb(174 200 226 / 30%);}
.inner ol li:nth-child(2) .portfolio_cont .summary{background: rgb(112 110 172 / 12%);}
.inner ol li:nth-child(3) .portfolio_cont .summary{background: rgb(214 241 225 / 40%);}
.inner ol li:nth-child(4) .portfolio_cont .summary{background: rgb(141 201 207 / 41%);}
.inner ol li:nth-child(5) .portfolio_cont .summary{background: rgb(239 184 179 / 13%);}

.summary .title{display: flex; align-items: center; margin-bottom: 8px;}
.summary .title h3{display: inline-block; margin-bottom: -6px; margin-left: 4px; font-size: 16px;}
.summary>span{display: block;}
.summary>span>strong{display: inline-block;}
.summary-list p+p{    margin-top: 6px;}
.portfolio .portfolio_list p{color: hsla(0, 0%, 0%, 0.733);}
.portfolio .portfolio_list p strong{color: hsla(0, 0%, 0%, 0.89);}
.portfolio .portfolio_list .point li+li{margin: 0; padding-top: 0; background: transparent;}
.portfolio .portfolio_list li:nth-child(3) .point li{background-color: transparent;}
.portfolio .portfolio_list li:nth-child(1) .point li{background-color: transparent;}
@media screen and (max-width:768px) {	
	.skill_list li .title{justify-content: center;flex-direction: row;}
	.skill_list li .title span{font-size: 18px; padding-top: 0;margin-left: 2px;} 
	.summary{margin: 7px 0 19px 0;}
}
.btn_area .btn_goto {font-size: 14px; display: inline-block; width: 115px; text-align: center; padding: 10px 0; border-radius: 25px; background-color: #2e70d0; color: #fff; letter-spacing: 1px;}
.btn_area .btn_goto {display: inline-block;width: 98px; text-align: center; padding: 10px 0; border-radius: 25px; letter-spacing: 1px; position: relative; background: #ffffff; overflow: hidden; z-index: 1; font-size: 15px; transition: all 0.3s ease; color: rgba(0, 0, 0, 0.9);}
.btn_area .btn_goto:hover {color: #fff; font-weight: 500;}
.btn_area .btn_goto:before {content: ''; position: absolute; top: 0; left: -100%; width: 100%; height: 100%; background: #22247a; /* 더 밝은 파란색 */ transition: all 0.7s ease; z-index: -1;}
.btn_area .btn_goto:hover:before {left: 0;}

@media screen and (max-width:768px) {
	.btn_area .btn_goto:before{display: none;}
	.btn_area .btn_goto:hover {font-weight: inherit;}
}

.intro_bg {width: 100%; height: auto;}
.intro_bg img{width: 100%;  height: auto; display: block; object-fit: cover; object-position: center;}
.intro_bg .intro{display: block;}
.intro_bg .mobile_intro{display: none;}
@media screen and (max-width:1400px) {
  .intro_bg .mobile_intro{display: block;}
  .intro_bg .intro{display: none;}
}

@media screen and (max-width:1024px) {
  h2 {padding: 40px 0; position:inherit;}
	h2::after{width: 0;}
  .portfolio h2::after {left: 215px;}
}

@media screen and (max-width:768px) {
  h2 {font-size: 24px; width: 80%; margin: 0 auto; letter-spacing: 0px;}
  .skills .inner h2{width: 100%;height: auto; margin: 0 auto; letter-spacing: 0px;}
  .skills>.inner h2 span{position: initial; width: 100%; display: block; text-align: center;font-size: 32px;}
  .skills .skill_list {margin-top: 10px;}
	.skills .skill_list > li {position: relative; font-size: 16px; width: 100%; font-weight: 400;}
  .skills .skill_list > li::after{content: ""; clear: both; position: absolute; width: 100%; height: 0.5px; left: 50%; bottom: -34px; margin: 0 auto; border-bottom: 1px solid #95b1e3; transform: translate(-50%, -50%);}
  .skills .skill_list > li:last-child:after{position: inherit;}
	.skills .skill_list > li > ul > li > span {font-size: 15px;}
	.portfolio h2 {padding: 60px 0;}
	.btn_top {display: none;}
}

.portfolio_cont .mobile-title{display: none;}
.comm-inner>.img_area >.mobile-title{display: none;}
@media screen and (max-width:1024px) {
  .portfolio_cont .mobile-title{display: none;}
  .comm-inner> .img_area>.mobile-title{display: block; font-size: 24px; margin-bottom: 32px;
  }
}
@media screen and (max-width:768px) {
  .num_portfolio {font-size: 27px;}
}
.portfolio h2 {max-width: 1380px; margin: 0 auto; padding: 80px 0; font-size: 50px; font-weight: bold;}
.portfolio h2::after {left: 11%;}
.portfolio .portfolio_list li .comm-inner {display: flex; align-items: flex-start; justify-content: space-between; max-width: 1280px; margin: 0 auto; padding-bottom:6rem ;}
.portfolio .portfolio_list li .comm-inner > div{flex: 1; max-width: 563px; width: 100%;height: 100%;}
.portfolio .portfolio_list li .comm-inner > div:nth-child(1){max-width: 671px; width: 100%; min-height: 400px;}
.portfolio .portfolio_list li .comm-inner > div:nth-child(2){max-width: 563px; width: 100%; min-height: 400px;}
.portfolio .portfolio_list li + li {margin: 5rem auto}
.portfolio .portfolio_list li:nth-child(even) .img_area {position: relative; order: 2; margin-left: 4rem;}
.portfolio .portfolio_list li>div.bg{background-color: #f7fbff; padding: 107px 0;}
.portfolio .portfolio_list li:nth-child(4){background-color: #f7fbff;}
.portfolio .portfolio_list li .image{max-width: 500px; width: 100%;height: 100%;}
.portfolio .portfolio_list li .image img {width: 100%; height: 100%; object-fit: contain;}
.portfolio .portfolio_list li .file_link{max-width: 500px; margin: 0 auto;}
.portfolio .portfolio_list li:nth-child(6) .portfolio_cont {padding-top: 0;}
.portfolio .portfolio_list li:nth-child(7) .portfolio_cont {padding-top: 0;}
.portfolio .portfolio_list li:nth-child(9) .portfolio_cont {padding-top: 0;}
.portfolio .portfolio_list .point li+li{margin: 0; padding: 0;}

@media screen and (max-width:1200px) {
  .portfolio {padding-bottom: 0px;}
  .portfolio h2{max-width: 90%;font-size: 36px;font-weight: 400; padding: 60px 0 46px 0;}
  .portfolio .portfolio_list li .image img{object-fit: cover;}
  .portfolio .portfolio_list li .image img.sub-img{display: none;}
  .portfolio .portfolio_list li .comm-inner{margin: 0 15px;}
  .portfolio .portfolio_list li .img_area {width: 100%;}
  .portfolio .portfolio_list li .comm-inner > div:nth-child(2){margin-left: 12px;}
  .portfolio .portfolio_list li + li{margin: 2rem auto; padding: 2rem 0;}
	.portfolio .portfolio_list > li:nth-child(odd) .img_area {margin-right: 0;}
  .portfolio .portfolio_list li .image{max-width: 600px; min-height: 316px; position: inherit;} 
  .portfolio .portfolio_list li:nth-child(even) .img_area{margin-left: 0;}
	.portfolio .portfolio_list > li:nth-child(6) .portfolio_cont {padding-top: 8%;}
	.portfolio .portfolio_list > li:nth-child(7) .portfolio_cont {padding-top: 8%;}
	.portfolio .portfolio_list > li:nth-child(9) .portfolio_cont {padding-top: 8%;}
  .portfolio .portfolio_list .point span { padding-left: 9px;}
}

@media screen and (max-width:768px) {
  .portfolio h2{max-width: 100%; width: 100%; margin: 0; padding: 4rem 0 5rem 1rem; font-size: 36px; font-weight: 400;}
  .portfolio .portfolio_list li + li{margin: 1rem 0; padding: 0;}
  .portfolio .portfolio_list li>div.bg{padding: 30px 0;}
  .portfolio .portfolio_list li .image {max-width: 500px;}
  .portfolio .portfolio_list > li .img_area{max-width: 500px;}
  .portfolio .portfolio_list li .comm-inner > div:nth-child(1){max-width: 500px;min-height: 359px;}
  .portfolio .portfolio_list li .comm-inner > div:nth-child(2){margin-left: 0;}
  .portfolio .portfolio_list li .comm-inner{width: 90%; margin: 0 auto; flex-direction: column; justify-content: center; align-items: center;  padding-bottom: 2rem;}
  .portfolio .portfolio_list li:nth-child(even) .comm-inner{flex-direction: column-reverse;}
}

@media screen and (max-width:640px) {
  .img_area .add-icon {bottom: -19px;}
  .portfolio .portfolio_list li .comm-inner > div:nth-child(2){margin-top:0;}
}

.btn_top { visibility: hidden; position: fixed; bottom: 24px; right: 32px; width: 58px; height: 58px; border: 0; background-color: transparent; text-align: center; color: #fff; font-size: 15px; font-weight: 500; cursor: pointer;}
.btn_top::before {position: absolute; top: 0; left: 0; content: ''; width: 100%; height: 100%; border-radius: 5px; background-color: #a69eb0; transition: all 0.2s linear;}
.btn_top::after {position: absolute; top: 50%; left: 0; right: 0; content: 'TOP'; transform: translateY(-50%);}
.btn_top:hover::before {border-radius: 12px; background-color: #766d81; transform: rotate(-45deg) scale(0.8, 0.8);}

/* 아코디언 */
.accordion{margin-bottom: 18px;}
.accordion > div + div{margin-top: 7px;}
.accordion-content { max-height: 0; overflow: hidden; transition: max-height 0.3s ease;}
.accordion-content p{padding: 10px; line-height: 1.5; color: #585858; font-size: 15px; word-break: keep-all;}

@media screen and (max-width:1024px) {
	.accordion-content p{
		text-align: left;
	}
}

.accordion-content p span{display: block;}
.accordion-content p span + span{margin-top: 5px;}
.accordion-button {display: flex; align-items: center; justify-content: space-between;  position: relative; width: 100%; height: 62px; padding: 0 20px; border: none; border-radius: 7px; font-weight: 600; font-size: 16px; background-color: #fff; text-align: left; color: #000; cursor: pointer; font-weight: bold;}
li:nth-child(odd) .comm-inner .accordion-button{background-color: #F5F5F5;}
.accordion-button-last{border-bottom: 0;}
.accordion-button:focus {outline: none;}
.accordion-item.active .accordion-content {max-height: 200px; /* 원하는 높이로 조정 가능 */}

.img_area{position: relative;}
.img_area .image{position: absolute;}
.img_area .image>img.main-img{position: absolute; z-index: 200;}
.img_area .image>img.sub-img{position: absolute; top: 35px; right: -67px; z-index: 100;}
.img_area .add-icon{position: absolute; display: flex; justify-content: space-between; width: 67%; z-index: 120;  right: 127px; bottom: -7px; align-items: center;}
.img_area .add-icon>span{position: relative; color:#fff; font-size: 20px; font-weight: bold;}
.img_area .add-icon>span::after{content: ""; clear: both; position: absolute;     width: 265px; height: 1.3px; background-color: hsl(0deg 0% 100% / 80%); border-radius: 20px; top: 9px; left: 44px;}
.btn_area{margin: 0;}
@media screen and (max-width:1200px) {
  .btn_area .btn_goto{background-color: #000; color: #fff;}
  .img_area .add-icon>span{color: #000;}
  .img_area .add-icon>span::after{background-color: #000; width: 336px;}
  .img_area .add-icon{width:100%; right: 0; bottom: 32px;}
}

@media screen and (max-width:768px) {
  .img_area .add-icon {right: 0; bottom: -23px;}
}

@media screen and (max-width:420px) {
.img_area .add-icon>span::after {width: 179px;}
}